html {
  -webkit-filter: invert(100%) !important;
}
img,
iframe {
  -webkit-filter: invert(100%) !important;
}
body {
  background-color: #ddd;
}
a {
  color: #957373;
}
a:hover {
    color: #A07878;
}
.navbar, .navbar-inverse, .navbar-fixed-top {
  background-color: #fff;
    border-color: #eee;
    position: absolute;
}
header .container,
header .navbar-header,
header .collapse,
header .navbar-collapse {
  background-color: #fff;    
}
