/*
urls on the domain: console.aws.amazon.com
vurls on the domain: phd.aws.amazon.comm
*/
html {
    -webkit-filter: invert(100%);
}
img,
iframe,
.home-content [target="_blank"]:after,
.awsui .alert-exclamation-circle::before,
.awsui .alert-check-circle::before,
.awsui .alert-exclamation-triangle::before,
.awsui .awsui-alert-times-warning::before,
.awsui .external-link.awsui-icon-link::before,
.awsui .awsui-icon:empty::before,
.hint-icons,
.upload-modal .aws-modal .modal-frame .modal-header-image,
.hide-config-panel div.storage-console-config-panel .config-panel-header,
.side-config-panel div.storage-console-config-panel .config-panel-header,
#awsgnav #nav-home-link #nav-logo {
    -webkit-filter: invert(100%);
}
body {
    background-color: #000 !important;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-button:vertical:increment {
    background-color: #eee;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background-color: #999;
}
::-webkit-scrollbar-button:vertical:decrement {
    background-color: #ddd;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color: #999;
}
::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}
a,
a:visited,
#awsgnav .service-link a,
#awsgnav a.nav-menu,
#awsgnav .service-category-link,
#awsgnav #nav-servicesMenu,
#awsgnav #nav-resourceGroupsMenu,
#awsgnav .nav-menu .nav-elt-label,
#c .btn.btn-link,
.bucket-source {
    color: #957373 !important;
}
a:hover {
    color: #957373 !important;
}
body #awsgnav #nav-menubar,
body #awsgnav #nav-menubar .nav-menu,
#nav-menu-right,
#console-nav-footer,
#terms-of-use,
#privacy,
#copyright-notice {
    color: #222;
    background-color: #ccc;
    text-shadow: 0 1px 0 #fff;
}
.awsui .dark,
.awsui .notification .awsui-alert-type-info {
    background-color: #ddd;
}
targetmbox {
    color: #1e1e1e;
}
#awsgnav #servicesMenuContent #allServices .service-link.new-service .service-label:after,
#awsgnav .nav-menu-content .awsc-link-new:after {
    color: #7878A0 !important;
}
#awsgnav .awsc-services-search #awsc-input-wrapper input:focus,
#search-box-input:focus,
input:focus {
    border: 1px solid #7878A0;
    box-shadow: 0 0 8px rgba(51, 136, 221, 0.5)
}
.dropdown .list-items {
    background-color: #ccc;
}
.dropdown .list-items .item,
.dropdown .list-items .no-matches-found {
    color: #222;
}
.dropdown .list-items .item:hover {
    color: #fff;
    background-color: #7878A0;
}
.ui-menu-item,
.home-content .dropDownMenuListItem {
    background-color: #eee;
}
.ui-state-hover,
.home-content .dropDownMenuListItemFocus,
#search-dropdown .search-instruction {
    background-color: #7878A0 !important;
    color: #fff;
}
.ui-state-hover .awsc-autosuggest-description,
.ui-state-hover .awsc-autosuggest-label,
.home-content .dropDownMenuListItemFocus .dropDownMenuListItemTitle,
.home-content .dropDownMenuListItemFocus .dropDownMenuListItemContent {
    color: #fff;
}
.GEHJJTKDG4E,
.GEHJJTKDB1,
.GEHJJTKDG4E {
    background-color: #fff !important;
}
.GEHJJTKDJJE,
.GEHJJTKDDPE,
.GEHJJTKDD4E {
    background: #ddd;
}
.highlight-row {
    background: #ccc;
}
.qb-color-text-red,
.awsui .awsui-alert-type-error .awsui-alert-header,
.ecs-negative-status {
    color: #20C1C1 !important;
}
.awsui .awsui-alert-type-error {
    border-color: #20C1C1 !important;
}
.qb-color-text-green,
.awsui .awsui-alert-type-success .awsui-alert-header,
.ecs-positive-status,
.event-status.closed,
.event-status.completed {
    color: #6f42c1 !important;
}
.awsui .awsui-alert-type-success {
    border-color: #6f42c1 !important;
}
.awsui .awsui-alert-type-warning,
.awsui .awsui-alert-type-info {
    border-color: #7878A0;
    background-color: #ddd;
}
.awsui .awsui-alert-type-warning .awsui-alert-header {
    color: #7878A0;
}
.event-status.new,
.event-status.ongoing,
.event-status.upcoming,
.awsui .awsui-button.awsui-button-variant-link {
    color: #7878A0;
}
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
    border-top-color: #7878A0;
}
.aws-data-table .aws-data-table-toggle-status .aws-data-table-toggle-status-option.selected {
    border-color: #7878A0;
}
#awsgnav .awsc-nav-phd-dot-scheduled-changes-account-notifications {
    background: #7878A0;
}
#awsgnav .phd-warn {
    background-color: #7878A0;
}
#awsgnav .phd-info {
    background-color: #957373;
}
.public-text {
    background-color: #7878A0;
}
.tabs.horizontal.expanded .tab.active:after {
    background: #957373;
}
.search-filter {
    border-color: #7878A0;
}
.awsui .awsui-tabs-tab-link {
    background-color: #ddd;
}
.row-selected {
    background-color: #ddd;
    color: #666;
}
.awsui .awsui-tabs-tab-active,
.awsui .awsui-tabs-tab-active:focus,
.awsui .awsui-tabs-tab-active:hover {
    background-color: #fff;
}
.action-strip awsui-button-group.bucket-action-show-obj-version awsui-button.selected button.awsui-button {
    background-color: #7878A0;
}
.awsui .awsui-button.awsui-button-variant-normal {
    border-color: #7878A0;
}
.awsui .awsui-button.awsui-button-variant-normal,
.modal-selected-files .modal-add-files-label {
    color: #7878A0;
}
.awsui .awsui-button.awsui-button-variant-normal:hover:not(.awsui-button-disabled) {
    color: #fff;
    background-color: #7878A0;
}
.awsui .awsui-button-dropdown {
    border-color: #ccc;
    background-color: #eee;
}
.awsui .awsui-button-dropdown-category:not(:first-child) {
    border-color: #ccc;
}
.upload-modal .upload-modal-selected-files-properties,
.aws-modal .modal-footer,
.aws-modal .modal-frame {
    background-color: #fff;
}
.aws-modal .modal-frame {
    box-shadow: 0 2px 4px #eee;
}
.aws-modal .modal-body {
    background-color: #ddd;
}
.modal-permissions .modal-permissions-section {
    color: #000;
}
.upload-modal .upload-modal-content .drag-and-drop-text,
.modal-selected-files .modal-selected-files-file-name,
.modal-selected-files .modal-selected-files-file-size,
.awsui .dark,
.upload-modal .upload-modal-content .upload-modal-properties-group-header,
.upload-modal .upload-modal-content .upload-modal-properties-group-desc,
.upload-modal .upload-modal-content .upload-modal-properties-group .upload-modal-radio-button-properties .radio-button,
.upload-modal .upload-modal-content .upload-modal-properties-group {
    color: #1e1e1e;
}
.modal-permissions .subsectitle-row,
.bucket-side-config-panel {
    background-color: #eee;
}
.hide-config-panel div.storage-console-config-panel,
.side-config-panel div.storage-console-config-panel {
    background-color: #fff;
}
.bucket-side-panel .bucket-panel-config-lists {
    background-color: #eee;
}
.bucket-side-panel .bucket-panel-config-lists:hover {
    background-color: #ddd;
}
.bucket-side-panel .bucket-panel-config-lists li .subtitle {
    color: #7878A0;
}
.bucket-side-panel .bucket-panel-config-lists li .bucket-config-panel-content {
    color: #222;
}
.awsui .awsui-button.awsui-button-variant-primary,
.GEHJJTKDB,
.upload-modal .upload-modal-content #uploadInputNoFilesSelected {
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #6F4F2E;
    background-image: -webkit-linear-gradient(#997755, #6F4F2E);
    background-image: linear-gradient(#997755, #6F4F2E);
    border-color: #997755 !important;
}
.awsui .awsui-button.awsui-button-variant-primary:hover:not(.awsui-button-disabled),
.GEHJJTKDB:hover {
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #997755 !important;
    background-image: -webkit-linear-gradient(#6F4F2E, #997755) !important;
    background-image: linear-gradient(#6F4F2E, #997755) !important;
    border-color: #997755 !important;
}
#c .btn.btn-primary.disabled,
#c .btn.btn-primary:disabled,
#c .btn.btn-primary[disabled] {
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #ccc !important;
    background-image: -webkit-linear-gradient(#ccc, #999) !important;
    background-image: linear-gradient(#ccc, #999) !important;
    border-color: #eee !important;
}
