/*
urls on the domain: app.lucidchart.com
*/
lucid-option-bar,
lucid-left-dock div,
lucid-right-panel,
lucid-command-menu,
lucid-fill-controls,
lucid-hex-adjustments .ink-dropper-icon,
lucid-hex-adjustments lucid-spinner,
lucid-text-alignment-picker lucid-icon,
lucid-text-options .bottom,
lucid-text-options lucid-bottom-label,
lucid-fill-controls .menu-drawer,
lucid-line-options lucid-icon,
lucid-line-options lucid-spinner,
lucid-callout lucid-icon,
lucid-callout lucid-line-styles {
    -webkit-filter: invert(95%);
}
lucid-footer,
lucid-footer div,
lucid-footer span {
    background-color: #111 !important;
}
lucid-footer lucid-slider .track {
    background: #333 !important;
}
lucid-footer lucid-slider .thumb {
    background: #c0c0c0 !important;
}
lucid-footer .percent-label,
lucid-footer lucid-input,
lucid-footer lucid-icon {
    color: #c0c0c0 !important;
}
lucid-footer .down-arrow {
    border-top-color: #c0c0c0 !important;
}
lucid-footer .arrow::before {
    border-top-color: #c0c0c0 !important;
}
body {
    background: #000;
}
.viewport-scrollable,
lucid-callout {
    background-color: #333 !important;
}
lucid-callout::after {
    border-bottom-color: #333 !important;
}
.menu-drawer ul li.selected lucid-icon.fill-gradient-linear-icon,
.menu-drawer ul li.selected lucid-icon.fill-gradient-radial-icon,
.menu-drawer ul li.selected lucid-icon.fill-solid-icon,
.menu-drawer ul li.selected lucid-icon.image-icon,
.menu-drawer ul li.selected .label {
    color: #222;
}
