html {
	-webkit-filter: invert(100%) !important;
}
img,
iframe {
	-webkit-filter: invert(100%) !important;
}
#page-body {
 	background: #ddd;   
}
#header, #breadcrumbBar {
	background: #fff;
}
#main-panel {
	background: #ddd;
}
#side-panel {
	background: #ddd;    
}
a, a:visited, .model-link, a:link {
 	text-decoration: none;
    color: #957373;
}
a:hover, .model-link:hover {
 	border-bottom: 1px solid #ccc;   
}
#header .login a, #header .login a:visited {
 	color: #222;   
}
.inverse {
 	color: #000;   
}
