/*
urls on the domain: github.com
urls on the domain: githubusercontent.com
 */

html {
    -webkit-filter: invert(100%);
}
img,
iframe {
    -webkit-filter: invert(100%);
}
body {
	background: #111 !important;   
}
.blob-wrapper ::-webkit-scrollbar{
    width: 13px;
}
.blob-wrapper ::-webkit-scrollbar-button:vertical:increment {
    background-color:#eee;
}
.blob-wrapper ::-webkit-scrollbar-button:vertical:increment:hover {
    background-color:#999;
}
.blob-wrapper ::-webkit-scrollbar-button:vertical:decrement {
    background-color:#ddd;
}
.blob-wrapper ::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color:#999;
} 
.blob-wrapper ::-webkit-scrollbar-thumb{
    background-color:#ddd;
    border-radius: 0;
}
.blob-wrapper ::-webkit-scrollbar-thumb:hover{
    background-color:#eee;
}
.blob-wrapper ::-webkit-scrollbar-track{
    background-color:#eee;
}
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-button:vertical:increment {
    background-color:#111;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background-color:#666;
}
::-webkit-scrollbar-button:vertical:decrement {
    background-color:#222;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color:#666;
} 
::-webkit-scrollbar-thumb{
    background-color:#222;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#111;
}
::-webkit-scrollbar-track{
    background-color:#111;
}
a,
a:visited,
#footer .inner .links a {
    color: #957373;
}
a:hover,
#footer .inner .links a:hover {
    color: #957373;
}
.header-dark {
    background: #fff;
}
.header-dark .header-nav-link,
.header-dark .header-logo-wordmark, 
.header-dark .header-logo-invertocat {
 	color: #222;   
}
.header-dark .header-nav-link:hover {
 	color: #111;       
}
.header-dark .header-search-wrapper {
 	background-color: #ddd; 
    color: #000;
}
.header-dark .header-search-wrapper.focus,
.header-dark .header-search-wrapper.focus .header-search-scope {
 	background-color: #ccc; 
    color: #000;
    border-right-color: #eee;
}
.header-dark .header-search-scope, 
.header-dark .header-search-scope.focus {
    color: #222;    
    border-right-color: #eee;
}
.top-nav>li>a,
h3,
.markdown-format h3 {
    color: #444;
}
.top-nav>li>a:hover {
    color: #957373;
}
.dashboard-tabs a {
    color: #444;
}
.dashboard-tabs a.selected,
.dashboard-tabs a.selected:hover {
    color: #000;
    border-bottom: 2px solid #957373;
}
.dashboard-tabs a:hover {
    color: #000;
    border-bottom: 2px solid #957373;
    background-color: #957373;
    background-image: -moz-linear-gradient(#fff, #b2a4a4);
    background-image: -webkit-linear-gradient(#fff, #b2a4a4);
    background-image: linear-gradient(#fff, #b2a4a4);
}
.marketing-nav a.selected {
    border-bottom: 2px solid #957373;
}
.marketing-nav a {
    color: #444;
}
.tabnav .tabnav-tabs a {
    color: #444;
}
.repo-filterer .repo-filter.filter-selected,
.pagehead-nav-item.selected {
    border-bottom: 2px solid #957373;
}
.repo-filterer .repo-filter:hover {
    border-bottom: 2px solid #999;
}
ul.filter-list .filter-item {
    color: #444;
}
ul.filter-list .filter-item.selected {
    background: #957373;
    color: #fff;
}
.news .alert .branch-link .octicon,
.branch-name .octicon {
    color: #222;
}
.news .alert .pull-info,
.news .alert .branch-link,
.commit-ref {
    color: #454545;
    background: #d8d7dd;
}
.commit-ref .user {
    color: #000;
}
.feed-icon a {
    background: #d8d7dd;
}
.button.primary,
.minibutton.primary,
.button.glowing {
    background-color: #957373;
    background-image: -moz-linear-gradient(#957373, #b2a4a4);
    background-image: -webkit-linear-gradient(#957373, #b2a4a4);
    background-image: linear-gradient(#957373, #b2a4a4);
    border-color: #b2a4a4;
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.menu-container,
.boxed-group {
    background: #eae9f0;
}
.boxed-group h3 {
    border: none;
}
.boxed-group .boxed-group-inner {
    border-color: #eae9f0;
}
.menu {
    border: 1px solid #eae9f0;
}
.menu a.selected {
    border-left: 2px solid #957373;
}
.repo-list-item {
    background-color: #f5f5f5;
}
.private .repo-list-item,
.branch-name {
    background-color: #eee;
}
.repo-filterer .repo-filter {
    color: #000;
}
.simple-conversation-list>li .state-open,
.gh-header-status.open,
.discussion-item-open .discussion-item-icon {
    background-color: #9339bb;
}
.simple-conversation-list>li .state-merged,
.gh-header-status.merged,
.discussion-item-merged .discussion-item-icon {
    background-color: #91ab6b;
}
.simple-conversation-list>li .state-closed,
.gh-header-status.closed,
.discussion-item-closed .discussion-item-icon {
    background-color: #42d3ff;
}
.simple-conversation-list>li .state-published,
.gh-header-status.published,
.discussion-item-published .discussion-item-icon {
    background-color: #9339bb;
}
.open.octicon {
    color: #42d3ff;
}
.closed.octicon {
    color: #9339bb;
}
.repo-list-item .repo-icon {
    color: #666;
}
.text-diff-added {
    color: #aa5acd;
}
.text-diff-deleted {
    color: #42d3ff;
}
.code-list .private .bubble {
    border: none;
    background: #eae9f0;
}
.code-list .private .bubble .file-box {
    border: 1px solid #eae9f0;
}
.blob-line-nums a,
.blob-line-nums span {
    color: #666;
}
.list-group-item.navigation-focus {
    background: #eae9f0;
}
.usage-bar dd span {
    background-color: #9c51d9;
    background-image: -moz-linear-gradient(#7e3ab5, #9c51d9);
    background-image: -webkit-linear-gradient(#7e3ab5, #9c51d9);
    background-image: linear-gradient(#7e3ab5, #9c51d9);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.4);
}
.usage-bar dd span.danger {
    background-color: #1236ff;
    background-image: -moz-linear-gradient(#09209f, #1236ff);
    background-image: -webkit-linear-gradient(#09209f, #1236ff);
    background-image: linear-gradient(#09209f, #1236ff);
}
.usage-bar dd span.maxed {
    background-color: #99ffff;
    background-image: -moz-linear-gradient(#6ff6ff, #9ff9ff);
    background-image: -webkit-linear-gradient(#6ff6ff, #9ff9ff);
    background-image: linear-gradient(#6ff6ff, #9ff9ff);
}
.starred-repo.navigation-focus {
    background-color: #eee;
}
.enterprise .notification-indicator.contextually-unread {
    background-color: #cfbdab;
    background-image: -moz-linear-gradient(#425567, #cfbdab);
    background-image: -webkit-linear-gradient(#425567, #cfbdab);
    background-image: linear-gradient(#425567, #cfbdab);
    border-color: #273644 #273644 #273644 #2a2c2e;
}
.notification-indicator .mail-status {
    background-color: #555;
    background-color: #333;
    background-image: -moz-linear-gradient(#555, #333);
    background-image: -webkit-linear-gradient(#555, #333);
    background-image: linear-gradient(#555, #333);
}
.notification-indicator:hover .mail-status {
    background-color: #444;
    background-image: -moz-linear-gradient(#666, #444);
    background-image: -webkit-linear-gradient(#666, #444);
    background-image: linear-gradient(#666, #444);
}
.notification-indicator .unread {
    background-color: #cd965f;
    background-image: -moz-linear-gradient(#be7c3b, #cd965f);
    background-image: -webkit-linear-gradient(#be7c3b, #cd965f);
    background-image: linear-gradient(#be7c3b, #cd965f);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 10px #be7c3b;
}
.notification-indicator:hover .unread {
    background-color: #d3a272;
    background-image: -moz-linear-gradient(#c7894b, #d3a272);
    background-image: -webkit-linear-gradient(#c7894b, #d3a272);
    background-image: linear-gradient(#c7894b, #d3a272);
}
.notification-indicator.contextually-unread {
    background-color: #d2e4f9;
    background-image: -moz-linear-gradient(#160d03, #d2e4f9);
    background-image: -webkit-linear-gradient(#160d03, #d2e4f9);
    background-image: linear-gradient(#160d03, #d2e4f9);
    border-left-color: #3d2a14;
    border-right-color: #3d2a14;
}
#message.good {
    background: #eee;
    border-color: #66334d;
}
#message.good p {
    color: #e6b2cc;
}
#message.minor {
    background: #a7bfd6;
    border-color: #073158;
}
#message.minor p {
    color: #cd690f;
}
#message.major {
    background: #d6fffe;
    border-color: #00bb96;
}
#message.major p {
    color: #661a00;
}
#message .time {
    color: #ccc;
}
.alert.tip {
    background: #ddd !important;
    border-color: #ccc !important;
}
.good {
    color: #cb6899;
}
.minor {
    color: #0d62af;
}
.major {
    color: #3cf3cf;
}
.commit-tease,
.full-commit,
.commit {
    background: #ddd;
    border: 1px solid #d8d7dd;
    border-color: #d8d7dd;
}
.commit-group {
    border-color: #ddd;
}
h3.commit-group-heading {
    background: #eee;
    border-color: #ddd;
    color: #000;
}
.commit-group-item {
    border-color: #fff;
    color: #111;
}
.commit-group-item .authorship {
    color: #111;
}
.commit-meta {
    border-color: #d8d7dd;
}
.commit-title {
    color: #222;
}
.browse-button,
.gobutton {
    background-color: #fff;
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    border: 1px solid #ccc;
}
.commit-group-item .browse-button {
    border: 0;
    color: #111;
    background: transparent;
}
.gobutton>.sha .octicon {
    border-color: #957373;
    color: #111;
}
.gobutton:hover>.sha .octicon {
    border-color: #111;
}
.boxed-group.dangerzone>h3 {
    background-color: #20C1C1;
    background-image: -moz-linear-gradient(#068E8E, #20C1C1);
    background-image: -webkit-linear-gradient(#068E8E, #20C1C1);
    background-image: linear-gradient(#068E8E, #20C1C1);
    border-bottom: 1px solid #6FF6FF;
    text-shadow: 0 -1px 0 #6FF6FF;
}
.btn-danger:disabled,
.btn-danger:disabled:hover,
.minibutton.danger.disabled,
.minibutton.danger.disabled:hover {
    color: #348080;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(#fcfcfc, #eee);
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
}
.btn-danger,
.btn-danger:hover,
.minibutton.danger,
.minibutton.danger:hover {
    color: #6FF6FF;
}
.btn-danger:focus,
.minibutton.danger:focus .button.danger:hover,
.minibutton.danger:hover {
    background: #CFFCFF;
    border-color: #D5D5D5;
}
.btn-danger:hover,
.minibutton.danger:hover {
    color: #000;
    background-color: #CFFCFF;
    background-image: -moz-linear-gradient(#fcfcfc, #CFFCFF);
    background-image: -webkit-linear-gradient(#fcfcfc, #CFFCFF);
    background-image: linear-gradient(#fcfcfc, #CFFCFF);
    border-color: #D5D5D5;
}
.btn-danger:active,
.btn-danger.selected,
.minibutton.danger:active,
.minibutton.danger.selected {
    color: #000;
    background-color: #CFFCFF;
    border-color: #D5D5D5;
}
.btn-primary {
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #6F4F2E;
    background-image: -webkit-linear-gradient(#997755, #6F4F2E);
    background-image: linear-gradient(#997755, #6F4F2E);
    border-color: #997755 !important;    
}
.btn-primary:hover {
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #997755;
    background-image: -webkit-linear-gradient(#6F4F2E, #997755);
    background-image: linear-gradient(#6F4F2E, #997755);
    border-color: #997755 !important;    
}
.btn-primary:disabled, 
.btn-primary:disabled:hover, 
.btn-primary.disabled, 
.btn-primary.disabled:hover {
    color: #333 !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #765D44;
    background-image: -webkit-linear-gradient(#333, #765D44);
    background-image: linear-gradient(#333, #765D44);
    border-color: #765D44 !important;        
}
.minibutton:hover {
    background: #957373;
}
.btn-outline {
    color: #957373;
    border-color: #eee;
}
.btn-outline:hover {
    background-color: #957373;
}
.private,
.mini-repo-list-item {
    background-color: #fff !important;    
}
.private .mini-repo-list-item .repo-icon {
    color: #aaa;
}
.more-repos-link,
.js-more-repos-link {
	color: #666;
}
.more-repos-link:hover,
.js-more-repos-link:hover,
.reponame-suggestion,
.js-reponame-suggestion{
	color: #957373;
}
.flash {
    color: #666;
    background-color: #fff;
    border-color: #ddd;
}
.flash-error {
    color: #000;
    background-color: #CFFCFF;
    border-color: #D5D5D5;
}
.facebox-overlay-active {
    background: #fff;
}
.facebox-popup {
    box-shadow: 0 0 18px rgba(100, 100, 100, 0.4);
}
.facebox-alert {
    color: #8699DF;
    background-color: #071138;
    border-color: #0D1F65;
}
.dashboard-notice,
.owners-notice {
    background-color: #F6F6F6;
    background-image: linear-gradient(#F5F5F5, #F6F6F6);
    border: 1px solid #D6D6D6;
}
.dashboard-notice .title {
    border-bottom: 1px solid #D6D6D6;
}
.dashboard-notice.org-newbie .fancytitle .octicon-organization {
    color: #888888;
}
.member-list-item .member-security .octicon {
    color: #0268E0;
}
.pagehead h1,
#blog-main .pagehead h1 a.title {
    color: #333;
}
#blog-main .pagehead h1 a.title:hover {
    text-decoration: none;
    border-bottom: 1px solid #D6D6D6;
}
.pagination a:hover,
.pagination span:hover {
    color: #000;
    background-color: #957373;
    background-image: -moz-linear-gradient(#fff, #b2a4a4);
    background-image: -webkit-linear-gradient(#fff, #b2a4a4);
    background-image: linear-gradient(#fff, #b2a4a4);
    border: 1px solid #aaa;
}
.collection-card .collection-card-title,
.showcase-featured .featured-grid-link {
    box-shadow: inset 0px 10px 10px rgba(255, 255, 255, 0.4);
}
.collection-head .collection-title,
.collection-card .collection-card-title,
.showcase-featured .featured-grid-link,
.collection-page .side-collection-item-title,
.showcase-featured .in-yo-face .showcase-name {
    color: #000;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}
.auth-form-header {
    background-color: #f5f5f5;
    border-color: #e5e5e5;
    color: #000;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.auth-form-body {
    border-color: #f5f5f5;
}
.gist-item .file:hover {
    border-color: #c5c5c5;
}
.page-new-repo .octicon-lock,
.recent-gists .secret .mega-octicon {
    color: #967373;
}
.pagehead.repohead h1.secret .repo-label span,
.byline.secret .repo-label span {
    background-color: #A9A9A9;
    color: #ffffff;
}
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus.selected,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item.navigation-focus .description-inline {
    background-color: #967373;
}
.select-menu-item a {
    color: #888;
}
a.js-navigation-open,
a.select-menu-item-text,
a.css-truncate-target {
    text-shadow: 2px 2px #fff;
}
dl.form.errored>dt label {
    color: #00C5D7;
}
dl.form.warn dd.warning,
dl.form.errored dd.error,
dl.form.errored dd.warning {
    color: #fff;
    background: #00C5D7;
    border-color: #13CACC;
}
dl.form.errored dd.error:before,
dl.form.errored dd.error:after {
    border-bottom-color: #13CACC;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a.zeroclipboard-is-hover {
    background: #967373;
    color: #ffffff;
}
.blob-line-nums,
.blob-line-code,
.markdown-body .highlight pre,
.markdown-body pre {
    background: #ddd;
    border: 0;
    line-height: 16px;
}
.markdown-body code, 
.markdown-body tt {
	background: #ddd;
}
.markdown-format a code {
	background: #ddd;
    border-color: #ccc;
    color: #666;
}
/**
 * monokai syntax highlighter style edited from:
 * https://github.com/richleland/pygments-css/blob/master/monokai.css
 */

.highlight,
.highlight .hll {
    background-color: #ddd;
    border: 0;
}
