/*
urls on the domain: atlassian.net
 */
html,
iframe,
div[data-role="droplistContent"],
div[data-test-id="GlobalNavigation"] {
    -webkit-filter: invert(100%);
}
body {
    background: #000 !important;
}
#ghx-controls button {
    background: #eee !important;
    color: #2f2f2f !important;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 150%;
}
button, div, span {
    border-radius: 0px !important;
}
img,
span[role="img"],
div[data-test-id="issue.views.issue-details.issue-layout.status-and-approval"] button,
div[data-role="droplistContent"] span[role="img"] {
    -webkit-filter: invert(100%);
}
div[data-test-id="GlobalNavigation"] {
    z-index: 99999 !important;
}
div[data-test-id="GlobalNavigation"] span[role="img"] {
    -webkit-filter: invert(0%);
}
div[data-testid="GlobalNavigation"] svg {
    -webkit-filter: invert(50%);
}
a[data-testid="NavigationItem"] svg,
a[data-testid="NavigationItem"] div {
    color: #3c3c3c;
}
div[data-testid="ContextualNavigation"] button,
a[data-testid="NavigationItem"],
button[data-testid="NavigationItem"],
div[data-testid="Navigation"] > div,
div[data-testid="ContextualNavigation"] div,
div[data-testid="GlobalNavigation"] div:nth-child(1),
a[data-testid="GlobalNavigationItem"],
button[data-testid="GlobalNavigationItem"],
div[data-testid="Navigation"] div:nth-child(2) {
    background: #ddd !important;
}
.subnavigator-title,
h1, h2, h3, h4, h5, h6, h7, h8,
div[data-test-id="issue.views.field.rich-text.description"] p,
div[data-test-id="issue.activity.comments-list"] p {
    color: #222 !important;
}
div[data-test-id="profilecard-next.ui.profilecard.profilecard-trigger"],
div[data-test-id="profilecard-next.ui.profilecard.profilecard-trigger"] span,
div[data-test-id="profilecard-next.ui.profilecard.profilecard-trigger"] div,
span[data-mention-id] span,
div[data-mention-id] span,
div[data-mention-id] div {
    color: #957373 !important;
}
.ghx-summary {
    color: #222 !important;
}
.adg3 .ghx-issue {
    background: #efefef !important;
}
.adg3 .ghx-issue.ghx-selected,
.adg3 .js-issue.ghx-selected,
.adg3 .js-issue.ghx-selected .ghx-items-container,
.adg3 .ghx-issue.ghx-selected,
.ghx-issue.ghx-selected {
    background: #ddd !important;
}

.ajs-layer.box-shadow {
    box-shadow: none;
}
#gh-ctx-menu-content.aui-list.aui-list h5 {
    color: #666 !important;
}
#gh-ctx-menu-content.aui-list.aui-list {
    background: #ddd !important;
    border: 2px solid #fff;
    border-radius: 0 !important;
}
#gh-ctx-menu-content.aui-list.aui-list li.aui-list-item a {
    color: #222 !important;
}
#gh-ctx-menu-content.aui-list.aui-list li.aui-list-item a:hover {
    background: #fff !important;
}
#ghx-view-selector {
    display: none;
}
#ghx-modes-tools {
    margin: 0px;
}
#ghx-header .ghx-top-header {
    width: 20%;
    float: right;
}
#breadcrumbs-container {
    width: 75%;
    float: left;
    margin: 0px;
}
